body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #d79999;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

#projects .project {
    background: #f4f4f4;
    padding: 15px;
    margin: 15px 0;
}

footer {
    text-align: center;
    background: #cfc7c7;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}